{{{template "common/header.html" .}}}
{{{template "common/left_nav.html" .}}}
<style>
    .ul-cls {
        list-style-type: demical;
        width: 100%;
        padding: 20px;
        line-height: 40px;
    }

    .ul-cls li {
        list-style: disc;
        list-style-position: outside;
    }
</style>
<div class="layui-body" id="layui-body-content">
    <!-- 内容主体区域 -->
    <div class="layui-tab layui-tab-brief" lay-filter="demo" lay-allowclose="true">
        <ul class="layui-tab-title">
            <li class="layui-this">网站信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <fieldset class="layui-elem-field">
                    <legend>开发信息</legend>
                    <div class="layui-field-box" style="padding: 30px">
                        <p>
                            团队网站：<a href="https://maixiang.jd.com" class="layui-btn layui-btn-normal layui-btn-sm">
                            https://github.com/bipabo1l/webscanner_golang</a>
                        </p>
                        <br>
                        <p>
                            开发团队：<a href="https://maixiang.jd.com"
                                    class="layui-btn layui-btn-warm layui-btn-sm">bipabo1l</a>
                        </p>
                        <br>
                        <p>
                            邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱： bipabo1l@csoio.com
                        </p>
                        <br>
                        <p>
                            githubs地址：<a href="https://gitee.com/haosw/pulse-admin"
                                    class="layui-btn layui-btn-normal layui-btn-sm">
                            https://github.com/bipabo1l/webscanner_golang</a>
                        </p>
                        <br>

                    </div>
                </fieldset>

                <br>
            </div>
        </div>
    </div>
</div>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © Golang
</div>
</div>
{{{template "common/footer.html" .}}}