<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>脉像平台 － 后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/layui/layui-mz-min.js"></script>
    <script src="/static/layui/layui-select-keydown.js"></script>
    <script src="/static/js/common/water.js?v=0.1"></script>
    <script src="/static/js/jquery.min.js"></script>
    <style>
        body, html {
            min-height: 100%
        }

        [lay-skin=primary].layui-form-checkbox i {
            top: 5px !important;
        }
    </style>
</head>
<body class="layui-layout-body">