<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>WebScanner － Golang</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/common/jquery-1.8.0.js"></script>
    <script type="text/javascript" src="/static/js/common/jquery.validate.min.js"></script>
    <script src="/static/layui/layui-select-keydown.js"></script>
    <style>
        body, html {
            min-height: 100%
        }

        [lay-skin=primary].layui-form-checkbox i {
            top: 5px !important;
        }
    </style>
</head>
<body class="layui-layout-body">