<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
    <ul class="layui-nav layui-layout-left">

    </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/exit">Hello</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                123
                    <li class="layui-nav-item">
                        <a class="" href="/DomainScannerMonitor">域名查询</a>
                        <dl class="layui-nav-child">
                        </dl>
                    </li>
                <li class="layui-nav-item">
                                <a class="" href="/IPScannerMonitor">IP查询</a>
                                <dl class="layui-nav-child">

<dd><a href="javascript:;" class="site-demo-active" data-type="tabAdd"
        data-src="/12323" data-id="1">12323123</a></dd>
                        </dl>
                    </li>
            </ul>
        </div>
    </div>
</div>